/* Banner */
.bg-banner {
    padding: 2rem 0 3rem;
}

.banner-text h1 {
    margin-top: 1rem;
    font-size: 3em;
    font-weight: bold;
}

.banner-text p {
    line-height: 1.7;
    width: 90%;
    color: #666;
    padding: 1rem 0;
    font-size: 1.1em;
}

.banner-number {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    display: flex;
    gap: 4rem;
}

.banner-number span {
    font-size: 2em;
    display: block;
}

.banner-search {
    background-color: #fff;
    box-shadow: 4px 4px 16px rgb(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 1.5rem;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
}

.banner-search input {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 0;
    background-color: #ececec;
    border-radius: .5rem;
    font-size: 1em;
    margin-top: .25rem;
}

.banner-search label {
    font-size: 1.25em;
}

.banner-search .harga {
    display: flex;
    gap: 1rem;
}

.btn-cari {
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: 0;
    font-size: 1.25em;
    font-weight: bold;
    outline: none;
    padding: 1rem 2rem;
}

.btn-cari i {
    display: block;
}

/* Kos Populer */
.bg-kos-populer {
    padding: 2rem 0;
}

.bg-kos-populer h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.kos-card {
    margin: 1rem 0;
}

.kos-img {
    position: relative;
}

.kos-img img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 1rem;
    display: block;
}

.blackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.5), transparent);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.kos-type {
    margin: 1rem 1.5rem;
    padding: .5rem 1.5rem;
    background-color: var(--secondary-color);
    border-radius: .5rem;
    color: #fff;
    font-weight: bold;
}

.kos-detail {
    padding-left: 1rem;
    margin-top: .5rem;
}

.kos-detail h3 {
    font-size: 1.5em;
}

.kos-detail > span {
    display: block;
    color: #999;
}

.kos-icon {
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.kos-icon i, .kos-icon span {
    display: block;
}

.kos-price {
    font-size: 2em;
    font-weight: bold;
    color: #000 !important;
}

/* Area Populer */
.bg-area-populer {
    padding: 2rem 0;
}

.bg-area-populer h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.area-populer-card {
    position: relative;
    height: 100px;
    border-radius: 1rem;
    margin-bottom: 1.75rem;
}

.area-populer-card img {
    object-fit: cover;
    height: 100px;
    width: 100%;
    border-radius: 1rem;
}

.area-populer-card span {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #fff;
    font-size: 1.5em;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.btn-area-populer {
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5rem;
    display: block;
    padding: .5rem 0;
    text-align: center;
}

/* Kos Kampus */
.bg-kos-kampus {
    padding: 2rem 0;
}

.bg-kos-kampus h2 {
    font-size: 2.5em;
    margin-bottom: 2rem;
}

.kos-kampus-card {
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.1);
    margin-bottom: 1.75rem;
}

.kos-kampus-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.kos-kampus-card h3 {
    font-size: 2em;
}

.kos-kampus-text p {
    font-size: 1.25em;
}