@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #D9EDFB;
    --secondary-color: #1C85E8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

/* Utils */
.blue-background {
    background-color: var(--primary-color);
}

.w-100 {
    width: 100% !important;
}

.no-padding {
    padding: 0 !important;
}

.with-gap {
    gap: 1rem;
}

.text-danger {
    font-size: .75em;
    color: #dc3545 !important;
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.logo span {
    font-size: 2.5em;
    font-weight: 800;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    padding: 1rem 2rem;
    color: #000;
    font-size: 1.25em;
    display: block;
    text-decoration: none;
}

.btn-header a {
    padding: .75rem 2rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.btn-akun a {
    font-size: 2em;
    color: #000;
}

/* Footer */
footer {
    background-color: #1f1f1f;
    padding: 2rem 0;
    color: #fff;
}

.footer-info h2 {
    font-size: 3.5em;
}

.footer-info p {
    width: 90%;
    color: #999;
    line-height: 1.7;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
}

.footer-section ul {
    margin-left: 1rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ececec;
    display: block;
    padding: .25rem 0;
}

.footer-sosmed {
    display: flex;
}

.footer-section i {
    font-size: 2em;
    display: block;
    margin-right: 1rem;
}

footer hr {
    height: 0;
    border: 1px solid #333;
    margin-top: 2rem;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15px 0;
}

.footer-copyright span {
    color: #999;
}

.footer-logo {
    font-size: 1.25em;
    color: #fff !important;
    font-weight: bold;
}